@{
    ViewBag.Title = "ConectaTEC";
}

<div class="row">
    <div class="col-md-4">
        <h2>Aca el nombre</h2>
        <p>
            Aca podemos poner una ficha del perfil
        </p>
        <!--p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p-->
    </div>
    <div class="col-md-8">
        <h2>Feed</h2>
        <p>Aca podemos poner el feed.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Ver mas &raquo;</a></p>
    </div>
</div>