@{
    ViewBag.Title = "ConectaTEC";
}

<div class="row">
    <div class="col-md-4">
        <h2>Aca el nombre</h2>
        <p>
            Aca podemos poner una ficha del perfil
        </p>
        <!--p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p-->
    </div>
    <div class="col-md-8">
        <div><br>
            <div class="col-md-8">
                <input class="col-md-12" type="text" name="tweet" placeholder="Que esta pasando?" />
            </div>
            <div class="col-md-4">
                <input type="submit" value="Publicar" class="btn btn-default" />
            </div>
        </div>
        <hr>
        <h2>Feed</h2>
        @foreach (var tweet in ViewData["tweetList"] as List<ConectaTEC.Models.TweetsModel>)
        {
            <div class="col-md-8">
                <h1>@tweet.body.ToString()</h1>
            </div>
            <div class="col-md-4">
                <a href="/Home/Perfil?username='@tweet.username'">@tweet.username</a>
            </div>
        }
    </div>
    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Ver mas &raquo;</a></p>
</div>