
@{
    ViewBag.Title = "Perfil";
}

<div class="jumbotron">
    <h1>Nombre</h1>
    <p class="lead">username</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Fotos</h2>
    </div>
    <div class="col-md-8">
        <h2>Feed</h2>
        <p>Aca podemos poner el feed.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Ver mas &raquo;</a></p>
    </div>
</div>

